---
import { Image } from 'astro:assets';
import { type CollectionEntry } from 'astro:content';
import Head from '../../components/blog/Head.astro';
import Header from '../../components/blog/Header.astro';
import Pagination from '../../components/blog/Pagination.astro';
import PostMetadata from '../../components/blog/PostMetadata.astro';
import Footer from '../../components/Footer.astro';
import { BLOG_DESCRIPTION, BLOG_TITLE, slugifyKeyword } from '../../consts';

const { posts, page, activeKeyword } = Astro.props;
const basePath = activeKeyword
  ? `/blog/keyword/${slugifyKeyword(activeKeyword)}`
  : '/blog';

type Post = CollectionEntry<'blog' | 'drafts'>;
---

<!doctype html>
<html class="dark" lang="en">
<Head
  title={BLOG_TITLE}
  description={BLOG_DESCRIPTION}
  image="/images/social.blog.png"
/>
<body class="bg-antropia-white dark:bg-ash">
<Header />
<main class=`center font-nudica flex px-6 ${activeKeyword ? '' : 'pt-10 xl:pt-20'}`>
  <section class="max-w-5xl">
    {activeKeyword && (
      <div class="mb-13 flex flex-col items-center gap-3">
        <p class="text-white/60 text-xl font-light">
          <span class="italic">Filtering by</span> <span
          class="px-1 py-0.5 rounded-sm bg-blinking-blue hover:bg-sasquatch-socks font-black text-white uppercase text-sm">{activeKeyword}</span>
        </p>
      </div>
    )}
    <ul>
      {
        posts.map((post: Post, index: number) => {
          const url =
            post.collection === 'drafts'
              ? `/blog/drafts/${post.id}/`
              : `/blog/${post.id}/`;

          return (
            <li
              class="text-blinking-blue dark:text-antropia-white mb-16 flex flex-col items-center justify-center no-underline">
              <p
                class="font-round8 text-blinking-blue hover:dark:text-sasquatch-socks mb-4 text-center text-[20vw] leading-none uppercase xl:text-8xl dark:text-white">
                <a class="no-underline" href={url}>
                  {post.data.title}
                </a>
              </p>

              <a href={url}>
                <Image
                  width={720}
                  height={400}
                  src={post.data.heroImage!}
                  alt={post.data.title}
                  style="border-radius: 1rem"
                />
              </a>

              <div class="py-6">
                <PostMetadata {...post.data} />
              </div>

              <p
                class="text-alucards-night w-full py-2 text-center text-xl italic md:w-3/4 md:px-10 dark:text-white/70">
                {post.data.description}
              </p>

              {(index < posts.length - 1) &&
                <div class="bg-antropia-white/20 mt-20 h-px w-full" />}
            </li>
          );
        })
      }
    </ul>

    {page && page.lastPage > 1 &&
      <Pagination page={page} basePath={basePath} />}
  </section>
</main>

<div class="pb-16">
  <Footer includeRss />
</div>
</body>
</html>
