---
import { Image } from 'astro:assets';
import CornerIcon from '../../assets/case-study-corner.svg';

interface Props {
  class?: string;
  imageSrc: string;
  title: string;
  href: string;
}

const { class: className, href, imageSrc, title } = Astro.props;
---

<a
  class={`work-link overflow-hidden rounded-4xl relative cursor-pointer hover:scale-105 transition-transform ${className}`}
  href={href}>
  <div class="absolute left-0 top-0 z-10 flex flex-row items-start">
    <div class="flex flex-col items-start">
      <div class="py-4 px-6 bg-sasquatch-socks rounded-br-2xl">
        <h2 class="text-xl xl:text-3xl font-nudica text-white text-center uppercase font-bold">
          {title}
        </h2>
      </div>

      <Image src={CornerIcon} alt="" />
    </div>

    <Image src={CornerIcon} alt="" />
  </div>

  <img class="work-animation object-fill h-[300px] xl:h-[400px]" src={imageSrc} alt="" />
</a>
