---
import { Image } from 'astro:assets';
import CornerIcon from '../../assets/case-study-corner.svg';

interface Props {
  class?: string;
  imageSrc: string;
  title: string;
  description: string;
  href: string;
}

const { class: className, href, imageSrc, title, description } = Astro.props;
---

<div class="flex flex-col xl:flex-row no-underline center">
  <a class="work-link w-[300px] xl:w-[400px]" href={href}>
    <img
      class="work-animation cursor-pointer hover:scale-105 transition-transform rounded-4xl aspect-square object-cover h-[300px] w-[300px] xl:w-[400px] xl:h-[400px]"
      src={imageSrc}
      alt="" />
  </a>

  <div class="flex flex-col flex-1 xl:ml-10 xl:mt-0 mt-10 justify-center">
    <a class="no-underline" href={href}>
      <h2 class="text-6xl xl:text-8xl text-center xl:text-start font-nudica text-white uppercase font-bold">{title}</h2>
    </a>
    <p class="text-xl text-center xl:text-start font-nudica text-white font-normal mt-4 xl:mt-0">{description}</p>
  </div>
</div>
