---
interface Props {
  class?: string;
  imageSrc: string;
  title: string;
  description: string;
  href: string;
}

const { href, imageSrc, title, description } = Astro.props;
---

<div class="center flex flex-col no-underline xl:flex-row">
  <a class="work-link w-[300px] xl:w-[400px]" href={href}>
    <img
      class="work-animation aspect-square h-[300px] w-[300px] cursor-pointer rounded-4xl object-cover transition-transform hover:scale-105 xl:h-[400px] xl:w-[400px]"
      src={imageSrc}
      alt=""
    />
  </a>

  <div class="mt-10 flex flex-1 flex-col justify-center xl:mt-0 xl:ml-10">
    <a class="no-underline" href={href}>
      <h2
        class="font-nudica text-center text-6xl font-bold text-white uppercase xl:text-start xl:text-8xl"
      >
        {title}
      </h2>
    </a>
    <p
      class="font-nudica mt-4 text-center text-xl font-normal text-white xl:mt-0 xl:text-start"
    >
      {description}
    </p>
  </div>
</div>
