---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import workingTogetherIcon from '../assets/working-together.svg';
import yourVisionIcon from '../assets/your-vision.svg';
import ourCraftIcon from '../assets/our-craft.svg';
import Blob1 from '../components/Blob1.astro';
import Blob2 from '../components/Blob2.astro';
import ContactButton from '../components/ContactButton.astro';
import Steps from '../components/Steps.astro';
import Step from '../components/Step.astro';
import NavigationBar from '../components/NavigationBar.astro';
import ContactForm from '../components/ContactForm.astro';
import Toast from '../components/Toast.astro';
import CaseStudyPreview
  from '../components/case-studies/CaseStudyPreview.astro';
---

<Layout>
  <Toast />
  <NavigationBar />

  <ContactForm />

  <main class="ml-navbar xl:ml-navbar-xl pb-16">
    <div class="bg-alucards-night flex flex-col items-center">
      <Blob1 />
      <Blob2 />

      <section id="home" class="section px-6 pt-16 xl:items-start xl:pt-32">
        <h1 class="title">
          Apps that<br /><span class="text-benzol-green italic xl:ml-[355px]"
        >matter</span
        >
        </h1>

        <p class="font-nudica mt-6 text-xl xl:w-3/5 xl:text-4xl">
          We are the rapid prototyping studio that turns <span
          class="text-benzol-green">"what if"</span
        > into <span class="text-benzol-green">"what's next"</span>, crafting
          human experiences at pace that get your idea in front of real users
        </p>

        <ContactButton class="ml-0!" />
      </section>

      <section id="working-together" class="section mt-20 xl:mt-64">
        <div
          class="flex flex-col items-center gap-10 xl:flex-row-reverse xl:items-start"
        >
          <img
            src={workingTogetherIcon.src}
            alt="Working together"
            class="w-3/5 flex-1 xl:w-full"
          />

          <div class="flex flex-col items-center xl:mt-28">
            <h1
              class="font-round8 xl:text-10xl text-[23vw] leading-none text-white"
            >
              Working<br /><span
              class="text-sasquatch-socks ml-[50px] italic xl:ml-[110px]"
            >together</span
            >
            </h1>

            <p
              class="subtitle text-ice-cold-stare self-start xl:mt-20 xl:ml-[110px]"
            >
              This is what you can expect <br /> from our collaboration
            </p>
          </div>
        </div>

        <Steps class="bg-sasquatch-socks">
          <Step class="text-sasquatch-socks" title="1. Talk" slot="first">
            Let's meet, chat about your idea, and explore how we can <b
          >bring it to life</b
          >, together. No pitch decks needed - just an honest conversation.
          </Step>
          <Step class="text-sasquatch-socks" title="2. Hands on" slot="second">
            Three words: <span class="italic">iterate, iterate, ite...</span>
            you
            get it. Your idea starts taking shape through <b
          >constant testing and feedback</b
          >. You'll own everything we create together.
          </Step>
          <Step class="text-sasquatch-socks" title="3. Takeoff" slot="third">
            We'll handle the tech for your <b>app store launch</b> and help you
            chart
            the best course forward - whether that's attracting investors or
            winning
            your first users.
          </Step>
        </Steps>

        <p class="headline text-ice-cold-stare ml-2 xl:ml-0">
          Let's craft a project together.<br />We'll focus on what really
          matters.
        </p>

        <ContactButton />
      </section>

      <section id="your-vision" class="section">
        <div
          class="mt-20 flex flex-col items-center gap-10 px-6 xl:flex-row-reverse xl:items-end xl:gap-20"
        >
          <img
            src={yourVisionIcon.src}
            alt="Your vision"
            class="w-4/5 flex-1 xl:w-full"
          />

          <div class="flex w-full flex-col xl:mb-10 xl:flex-1">
            <h1
              class="font-round8 xl:text-11xl flex-1 text-[23vw] leading-none text-white"
            >
              Your<br /><span
              class="text-blinking-blue ml-[50px] italic xl:ml-[90px]"
            >vision</span
            >
            </h1>

            <p class="subtitle text-hello-summer xl:mt-10 xl:ml-[100px]">
              What you bring to the table<br />is what matter to us
            </p>
          </div>
        </div>

        <Steps class="bg-blinking-blue">
          <Step class="text-hello-summer" title="To the point" slot="first">
            We keep projects <b>short and focused</b>, typically wrapping up
            within a month to give you everything needed to validate your idea
            and continue growing. No endless timelines - just swift, meaningful
            progress.
          </Step>
          <Step
            class="text-hello-summer"
            title="Eyes on the prize"
            slot="second"
          >
            We help navigate the exciting chaos of early-stage projects,
            ensuring your journey leads to <b>something tangible</b> you can be
            proud
            of.
          </Step>
          <Step class="text-hello-summer" title="Working hours" slot="third">
            We become part of your team, bringing our perspective and experience
            while <b>solving problems together</b>. Your challenges become our
            challenges, and your wins become our wins.
          </Step>
        </Steps>

        <p
          class="headline text-ice-cold-stare ml-2 xl:ml-0 xl:w-1/2 xl:text-white"
        >
          Ready to build something meaningful together?
        </p>

        <ContactButton />
      </section>

      <section id="our-craft" class="section mt-16 items-center xl:mt-32">
        <div
          class="flex flex-col items-center justify-between px-6 xl:flex-row-reverse xl:items-end"
        >
          <img
            src={ourCraftIcon.src}
            alt="Our craft"
            class="w-full flex-1 xl:w-2/5 xl:flex-none"
          />

          <div class="mt-4 flex w-full flex-1 flex-col xl:mb-10">
            <h1
              class="font-round8 xl:text-10xl flex-1 text-[23vw] leading-none text-white xl:leading-36"
            >
              Our<br /><span
              class="text-benzol-green ml-[23vw] italic xl:ml-[90px]"
            >craft</span
            >
            </h1>

            <p class="subtitle text-benzol-green xl:mt-10 xl:ml-[100px]">
              Years of experience building <br /> apps for humans
            </p>
          </div>
        </div>

        <Steps class="bg-benzol-green">
          <Step class="text-benzol-green" title="Fixed rate" slot="first">
            One fixed rate of <b>$125/hr (plus taxes)</b> for all our clients.
            No
            hidden fees, no special deals - just transparent pricing that only
            changes
            when it changes for everyone.
          </Step>
          <Step class="text-benzol-green" title="Focused work" slot="second">
            We work up to <b>6 focused hours</b> each day, <b>5 days a week</b>,
            ensuring you get our best thinking and strongest work. Less
            quantity, more quality - we believe that's how great apps are built.
          </Step>
          <Step class="text-benzol-green" title="Working hours" slot="third">
            Based in <b>Spain</b> but flexible with schedules. All we need is <b
          >2 hours of overlap between 10AM-6PM CET</b
          > to keep the collaboration flowing.
          </Step>
        </Steps>

        <p class="headline text-benzol-green">
          Let's start building what matters to you.
        </p>
        <ContactButton />
      </section>
    </div>

    <div class="mt-16 flex flex-col items-center bg-white xl:mt-32">
      <section
        id="about-us"
        class="section w-full items-center py-8 xl:px-5 xl:py-32"
      >
        <div class="flex w-full flex-col px-5 py-5 xl:py-10">
          <h1
            class="text-blinking-blue font-round8 xl:text-superxl text-[20vw] leading-none"
          >
            Hey, <span class="text-hello-summer italic">world!</span>
          </h1>

          <p
            class="font-nudica text-blinking-blue mt-4 w-4/5 text-xl xl:mt-20 xl:text-5xl xl:leading-none"
          >
            Thanks for stopping by.<br />
            I'm Sergio, and this is <b class="text-sasquatch-socks">Antropia</b
          >. It's my little peaceful corner where I tinker with new ideas and
            explore better ways of working while trying to make what I do really
            matter.
          </p>
        </div>

        <div class="separator bg-blinking-blue hidden xl:block"></div>

        <div class="flex w-full flex-col px-5 py-5 xl:py-10">
          <h1
            class="text-blinking-blue font-round8 xl:text-11xl mt-5 text-[10vw] uppercase xl:mt-20"
          >
            Me
          </h1>

          <p
            class="font-nudica text-blinking-blue mt-2 text-sm xl:mt-12 xl:w-2/3 xl:text-xl"
          >
            I’m a software developer by education and passion. I have 12 years
            (and growing) of experience in building extraordinary software in
            companies like Tuenti, IBM, Cabify, Sketch and Harvest. I spent the
            last 4 years creating apps with <b>React Native</b> and learning in
            other
            areas like <b>Design</b> and
            <b>Security</b>.
          </p>
        </div>

        <div class="separator bg-blinking-blue hidden xl:block"></div>

        <div class="flex w-full flex-col px-5 py-2 xl:py-10">
          <h1
            class="text-blinking-blue font-round8 xl:text-11xl self-start text-[10vw] uppercase xl:mt-20"
          >
            Antropia <span class="text-sasquatch-socks italic">studio</span>
          </h1>

          <div class="self-start xl:w-4/5">
            <p
              class="font-nudica text-blinking-blue mt-2 text-lg leading-5 xl:mt-12 xl:text-3xl xl:leading-10"
            >
              Antropia started as a simple question: <b
            >what if work felt different?</b
            > While we are not yet officially a cooperative, it’s the spirit
              that
              guide us.
            </p>

            <p class="font-nudica text-blinking-blue mt-6 text-sm xl:text-xl">
              We created this studio with the purpose of rethinking our
              relationship with work. In particular, Antropia is our exploration
              to find some essential -yet often overlooked - characteristics we
              found missing in our work-life: <b>novelty</b>, <b>pride</b>, <b
            >progress</b
            >, <b>fairness</b>,
              <b>satisfaction</b>
              and <b>impact</b>, to name a few.
              <br />
              <br />
              We keep looking for ways to make our job something different,
              weaving
              purpose into our business fabric. That’s why signed the <a
              class="text-sasquatch-socks"
              href="https://www.givingwhatwecan.org/">Giving What We Can</a
            > pledge and
              <b>we donate 10%</b> of our income to effective <b>charities</b>.
              <br />
              <br />
              Antropia continues to evolve naturally, much like a living
              organism.
              And it does so because that's exactly what it should do - it's a
              continuous
              exploration of better ways to work together.
              <br />
              <br />
              We welcome conversations about work, collaboration, or any related
              thoughts. Reach out to us at
              <b>hi {'{at}'} antropia {'{dot}'} studio</b>.
            </p>
          </div>
        </div>
      </section>
    </div>

    <div class="bg-sasquatch-socks flex flex-col items-center">
      <section
        id="our-work"
        class="section w-full items-center py-8 xl:px-5 xl:py-16"
      >
        <h1
          class="font-round8 xl:text-11xl self-start px-5 text-[20vw] text-white uppercase xl:mt-20 xl:text-[10vw]"
        >
          Our <span class="italic">work</span>
        </h1>

        <div
          class="my-10 flex flex-col gap-10 rounded-4xl px-5 xl:my-20 xl:flex-row xl:flex-wrap xl:gap-24"
        >
          <CaseStudyPreview
            href="/work/trufario"
            imageSrc="/images/trufario/preview.png"
            description="Your essential companion app for recording every moment with your dog. From walks and playtime to vet visits, it keeps a detailed track of their health and behavior."
            title="Trufario"
          />

          <div class="bg-candlelight-peach/50 h-px w-full"></div>

          <CaseStudyPreview
            href="/work/doitmyself"
            imageSrc="/images/do-it-myself/preview.png"
            description="Track your DIY projects with detailed manuals, progress logs, and media organization."
            title="Do It Myself"
          />

          <div class="bg-candlelight-peach/50 h-px w-full"></div>

          <CaseStudyPreview
            href="/work/muppy"
            imageSrc="/images/muppy/preview.png"
            description="Unlock access to hand-picked real estate investment opportunities with high returns and full 360º management."
            title="Muppy"
          />
        </div>

        <script>
          document.querySelectorAll('.work-link').forEach((link) => {
            const image =
              link.querySelector<HTMLImageElement>('img.work-animation')!;

            const staticImageSrc = image.src;
            const animatedImageSrc = image.src
              .replace('.png', '.webp')
              .replace('.jpeg', '.webp');

            link.addEventListener('mouseenter', () => {
              image.src = animatedImageSrc;
            });

            link.addEventListener('mouseleave', () => {
              image.src = staticImageSrc;
            });
          });
        </script>
      </section>
    </div>

    <div class="bg-alucards-night flex flex-col items-center">
      <section id="contact" class="section bg-alucards-night pt-20 xl:pt-52">
        <h1
          class="text-hello-summer font-round8 text-10xl text-center uppercase xl:text-start"
        >
          Let's talk
        </h1>

        <p
          class="headline text-granny-smith-apple text-center text-lg xl:w-1/2 xl:text-4xl"
        >
          Contact us, let’s do something amazing, together.
        </p>

        <div>
          <ContactButton class="ml-0!" />
        </div>

        <Footer />
      </section>
    </div>
  </main>
</Layout>
